.popup-container {
  position: relative;
  width: 600px;
  background: url(../images/love-bg.jpg) no-repeat;
  background-size: 100%;
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: 2.5rem;
}

.flip-clock-wrapper ul li a div {
  font-size: 3rem;
}

.flip-clock-wrapper ul {
  width: 2.4rem;
  height: 3rem;
  font-size: 3rem;
}

.flip-clock-wrapper ul li {
  line-height: 3rem;
}

/* Adjust the position of the top's dot */

.flip-clock-dot.top {
  top: 1.2rem;
}

/* Adjust the position of the bottom's dot */

.flip-clock-dot.bottom {
  bottom: 0;
  top: 2.1rem;
}

.flip-clock-dot {
  width: .5rem;
  height: .5rem;
}

.flip-clock-divider {
  width: 1rem;
  height: 4rem;
}

.flip-clock-divider .flip-clock-label {
  right: -4.5rem;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -4.5rem;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -4.1rem;
}

.flip-clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.images {
  display: flex;
  padding: 30px 25px 50px;
}

.images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 157px;
}

.images div.images-no1 {
  background: url(../images/frame.jpg) no-repeat;
  background-size: 90% 97%;
  background-position: center;
}

.images div.images-no2 {
  background: url(../images/frame2.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.images div.images-no3 {
  background: url(../images/frame.jpg) no-repeat;
  background-size: 90% 97%;
  background-position: center;
}

.images img {
  width: 146px;
  height: 120px;
}

.images-no1 {
  transform: rotate(-15deg)
}

.images-no2 img {
  padding: 0;
  width: 134px;
  height: 94px;
  padding-left: 5px;
  padding-bottom: 4px;
  transform: rotate(-11deg)
}

.images-no3 {
  transform: rotate(15deg);
  margin-left: 5px;
}

.docs {
  width: 250px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 27px;
  background: url(../images/docs.png) no-repeat;
  background-position: -35px -205px;
  background-size: 250%;
}

.fly {
  position: absolute;
}

.fly-1 {
  bottom: 147px;
  left: 15px;
  width: 60px;
  height: 48px;
  background: url(../images/fly-1.jpg) no-repeat;
  background-size: cover;
}

.fly-2 {
  bottom: 111px;
  right: 8px;
  width: 133px;
  height: 78px;
  background: url(../images/fly-2.jpg) no-repeat;
  background-size: cover;
}

.yun {
  position: absolute;
  bottom: 200px;
  right: 8px;
  width: 133px;
  height: 78px;
  background: url(../images/yun.png) no-repeat;
  background-size: 100%;
  animation-name: initRight;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes initRight {
  from {
    right: 8px;
  }

  50% {
    right: 600px;
  }

  to {
    right: 8px;
  }
}

.yun2 {
  position: absolute;
  top: 11px;
  left: 87px;
  width: 133px;
  height: 78px;
  background: url(../images/yun2.png) no-repeat;
  background-size: 100%;
  animation-name: initLeft;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes initLeft {
  from {
    left: 87px;
  }

  50% {
    left: 590px;
  }

  to {
    left: 87px;
  }
}
